<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:repository="http://www.springframework.org/schema/data/repository"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/data/repository
    http://www.springframework.org/schema/data/repository/spring-repository.xsd">

    <!-- load data from 'actions.json' into DB (using spring-data jackson2-populator) -->
    <!-- TODO: do it using java-config (figure it out) -->
    <repository:jackson2-populator locations="classpath:actions.json" />
    <repository:jackson2-populator locations="classpath:streams.json" />

</beans>